parameters:
	ignoreErrors:
		-
			message: "#^Cannot use array destructuring on array\\|null\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Method Codin\\\\Thumper\\\\Amqp\\:\\:getParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Method Codin\\\\Thumper\\\\Amqp\\:\\:isValidExchangeName\\(\\) should return bool but returns int\\|false\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Method Codin\\\\Thumper\\\\Amqp\\:\\:setExchangeOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Method Codin\\\\Thumper\\\\Amqp\\:\\:setQos\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Method Codin\\\\Thumper\\\\Amqp\\:\\:setQueueOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Parameter \\#7 \\$callback of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:basic_consume\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|null, array\\{\\$this\\(Codin\\\\Thumper\\\\Amqp\\), 'processMessage'\\} given\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Property Codin\\\\Thumper\\\\Amqp\\:\\:\\$consumerOptions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Property Codin\\\\Thumper\\\\Amqp\\:\\:\\$exchangeOptions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Property Codin\\\\Thumper\\\\Amqp\\:\\:\\$parameters type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Amqp.php

		-
			message: "#^Property Codin\\\\Thumper\\\\Amqp\\:\\:\\$queueOptions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Amqp.php

